### Netflix EDA
- 아래의 서비스에서 데이터를 수집하여 EDA를 수행하세요.


- flixpatrol 사이트에서 데이터 수집
    - `https://flixpatrol.com/top10/netflix/world/2021/full/#netflix-1`


- kaggle에서 netflix 컨텐츠 데이터 수집
    - `https://www.kaggle.com/shivamb/netflix-shows`


- 컨텐츠의 등급데이터는 아래의 코드 사용
```
ratings_ages = {'TV-PG': 'Older Kids', 'TV-MA': 'Adults', 'TV-Y7-FV': 'Older Kids',
                  'TV-Y7': 'Older Kids', 'TV-14': 'Teens', 'R': 'Adults', 'TV-Y': 'Kids',
                  'NR': 'Adults', 'PG-13': 'Teens', 'TV-G': 'Kids', 'PG': 'Older Kids',
                  'G': 'Kids', 'UR': 'Adults', 'NC-17': 'Adults'}
```

In [147]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [148]:
# 1. 웹서비스 분석 : 개발자 도구 : URL
url="https://flixpatrol.com/top10/netflix/world/2021/full/"

In [149]:
# 2. request(url) > response : html
response=requests.get(url)
response

In [150]:
response.text[:200]

'<!DOCTYPE html>\n<html lang="en">\n<head>\n\t<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">\n\t<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">\n\t<t'

In [151]:
# 3. html(str) > bs, css-selecter > DataFrame

In [152]:
# bs 객체 만들기
dom = BeautifulSoup(response.text, "html.parser")

In [153]:
elements = dom.select("#netflix-1 > div.-mx-content > div > div > table > tbody > tr")
len(elements)

176

In [154]:
# 각 상품에서 데이터 수집 : 2
element = elements[0]
data = {
  
    "TITLE":element.select_one(".table-td:nth-child(3)").text.strip(),
     "POINTS":element.select_one(".table-td:nth-child(4)").text,
    "CHANGE":element.select_one(".table-td:nth-child(5)").text,
    "COUNTRIES":element.select_one(".table-td:nth-child(6)").text,
    "COUNTRY":element.select_one(".table-td:nth-child(7)").text,
    "DAYS":element.select_one(".table-td:nth-child(8)").text,
    "DAY":element.select_one(".table-td:nth-child(9)").text,
    "TOTAL":element.select_one(".table-td:nth-child(10)").text,
}
data

{'TITLE': 'Red Notice',
 'POINTS': '25,918',
 'CHANGE': '–',
 'COUNTRIES': '90',
 'COUNTRY': '288',
 'DAYS': '48',
 'DAY': '540',
 'TOTAL': '25,918'}

In [155]:
datas1 = []
for element in elements:
    datas1.append({
       
    "TITLE":element.select_one(".table-td:nth-child(3)").text.strip(),
    "POINTS":element.select_one(".table-td:nth-child(4)").text,
    #"CHANGE":element.select_one(".table-td:nth-child(5)").text,
    "COUNTRIES":element.select_one(".table-td:nth-child(6)").text,
    #"COUNTRY":element.select_one(".table-td:nth-child(7)").text,
    "DAYS":element.select_one(".table-td:nth-child(8)").text,
    #"DAY":element.select_one(".table-td:nth-child(9)").text,
    "TOTAL":element.select_one(".table-td:nth-child(10)").text,
    })
df1 = pd.DataFrame(datas1)
df1.head(2)

              TITLE  POINTS COUNTRIES DAYS   TOTAL
0        Red Notice  25,918        90   48  25,918
1  We Can Be Heroes  25,311        82  214  25,311

In [156]:
elements = dom.select("#netflix-2 > div.-mx-content > div > div > table > tbody > tr")
len(elements)

152

In [157]:
datas2 = []
for element in elements:
    datas2.append({
       
    "TITLE":element.select_one(".table-td:nth-child(3)").text.strip(),
    "POINTS":element.select_one(".table-td:nth-child(4)").text,
    #"CHANGE":element.select_one(".table-td:nth-child(5)").text,
    "COUNTRIES":element.select_one(".table-td:nth-child(6)").text,
    #"COUNTRY":element.select_one(".table-td:nth-child(7)").text,
    "DAYS":element.select_one(".table-td:nth-child(8)").text,
    #"DAY":element.select_one(".table-td:nth-child(9)").text,
    "TOTAL":element.select_one(".table-td:nth-child(10)").text,
    })
df2 = pd.DataFrame(datas2)
df2.tail(2)

                    TITLE POINTS COUNTRIES DAYS  TOTAL
150  Beauty and the Baker  1,638        18   28  1,638
151            Zero Chill  1,631        49   20  1,631

In [158]:
df1['type']='Movie'
df2['type']='TV Show'

In [159]:
data_fix=pd.concat([df1,df2])
len(data_fix)

328

In [160]:
#2

In [222]:
datas3=pd.read_csv(r"C:\Users\User\Downloads\netflix_titles.csv")

In [223]:
len(datas3)

8807

In [191]:
datas3["listed_in"].head(20)

0                                         Documentaries
1       International TV Shows, TV Dramas, TV Mysteries
2     Crime TV Shows, International TV Shows, TV Act...
3                                Docuseries, Reality TV
4     International TV Shows, Romantic TV Shows, TV ...
5                    TV Dramas, TV Horror, TV Mysteries
6                              Children & Family Movies
7      Dramas, Independent Movies, International Movies
8                          British TV Shows, Reality TV
9                                      Comedies, Dramas
10    Crime TV Shows, Docuseries, International TV S...
11    Crime TV Shows, International TV Shows, TV Act...
12                         Dramas, International Movies
13                   Children & Family Movies, Comedies
14         British TV Shows, Crime TV Shows, Docuseries
15                               TV Comedies, TV Dramas
16                  Documentaries, International Movies
17    Crime TV Shows, Spanish-Language TV Shows, TV ...
18                                            Thrillers
19    International TV Shows, Spanish-Language TV Sh...
Name: listed_in, dtype: object

In [224]:
datas3["rating"]=datas3["rating"].map({'TV-PG': 'Older Kids', 'TV-MA': 'Adults', 'TV-Y7-FV': 'Older Kids',
                'TV-Y7': 'Older Kids', 'TV-14': 'Teens', 'R': 'Adults', 'TV-Y': 'Kids',
                'NR': 'Adults', 'PG-13': 'Teens', 'TV-G': 'Kids', 'PG': 'Older Kids',
                'G': 'Kids', 'UR': 'Adults', 'NC-17': 'Adults'})

In [225]:
datas3.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,Teens,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,Adults,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."

In [226]:
datas3=datas3.dropna(axis=0)

In [227]:
drama_idx=datas3.index[(datas3['listed_in'].str.contains('Drama'))]
comedy_idx=datas3.index[(datas3['listed_in'].str.contains('Comedi'))]
crime_idx=datas3.index[(datas3['listed_in'].str.contains('Crime'))]
ani_idx=datas3.index[(datas3['listed_in'].str.contains('Ani'))]

In [228]:
data=datas3.copy()
for i in range(len(data)):
    if i in drama_idx:
        data["listed_in"][i]="Drama"
    elif i in comedy_idx:
        data["listed_in"][i]="Comedy"
    elif i in crime_idx:
        data["listed_in"][i]="Crime"
    elif i in ani_idx:
        data["listed_in"][i]="Animated"

<ipython-input-228-0902adf4a656>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["listed_in"][i]="Drama"
<ipython-input-228-0902adf4a656>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["listed_in"][i]="Comedy"
<ipython-input-228-0902adf4a656>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["listed_in"][i]="Animated"
<ipython-input-228-0902adf4a656>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["listed_in"][i]="Crime"

In [229]:
data.head(30)

data1=data[(data['date_added'].str.contains('January')|data['date_added'].str.contains('February')|data['date_added'].str.contains('March'))]
data2=data[(data['date_added'].str.contains('June')|data['date_added'].str.contains('April')|data['date_added'].str.contains('May'))]
data3=data[(data['date_added'].str.contains('July')|data['date_added'].str.contains('August')|data['date_added'].str.contains('September'))]
data4=data[(data['date_added'].str.contains('October')|data['date_added'].str.contains('November')|data['date_added'].str.contains('December'))]

In [188]:
t1=data1[data1['listed_in'].str.contains('Drama')]
top1=t1['title']
t2=data1[data1['listed_in'].str.contains('Comedy')]
top2=t2['title']

In [256]:
t1=data2[data2['listed_in'].str.contains('Crime')]
top1=t1['title']
t2=data2[data2['listed_in'].str.contains('Drama')]
top2=t2['title']

In [249]:
t1=data3[data3['listed_in'].str.contains('Drama')]
top1=t1['title']
t2=data3[data3['listed_in'].str.contains('Comedy')]
top2=t2['title']

In [232]:
t1=data4[data4['listed_in'].str.contains('Drama')]
top1=t1['title']
t2=data4[data4['listed_in'].str.contains('Comedy')]
top2=t2['title']

In [257]:
top1

737                        Trese
3860    Crime Diaries: Night Out
5435                  Man to Man
Name: title, dtype: object

In [250]:
top1

7                               Sankofa
9                          The Starling
12                         Je Suis Karl
38                  Birth of the Dragon
41                                 Jaws
                     ...
8719           What a Wonderful Family!
8735    Who's That Knocking at My Door?
8743                           Wildlife
8751                    Wish I Was Here
8788                       You Carry Me
Name: title, Length: 572, dtype: object

In [255]:
dd=data_fix[data_fix['TITLE']==list(top2)[0]]

for i in list(top2)[1:]:

    dd=pd.concat([dd,data_fix[data_fix['TITLE']==i]])

dd= dd.sort_values(by='POINTS' ,ascending=False)
dd

                       TITLE  POINTS COUNTRIES DAYS   TOTAL     type
28   The Woman in the Window   8,547        82   33   8,547    Movie
29                  365 Days   8,488        60  313   8,488    Movie
43                     Awake   7,217        81   24   7,217    Movie
78                  Stowaway   4,955        61   22   4,955    Movie
84              Blue Miracle   4,724        81   20   4,724    Movie
96            I Am All Girls   4,089        79   19   4,089    Movie
107              Skater Girl   3,739        79   21   3,739    Movie
117                   Oxygen   3,414        82   24   3,414    Movie
124                 Security   3,276        75   16   3,276    Movie
133            Into the Beat   2,851        69   15   2,851    Movie
148                  Monster   2,453        65   10   2,453    Movie
157            Madame Claude   2,179        60   25   2,179    Movie
141                  Halston   2,015        47   18   2,015  TV Show
17                 Riverdale  18,915        60  226  18,915  TV Show
6                 Fatherhood  14,660        82   54  14,660    Movie

top1 에 있는 data_fix : data_fix에 없으면 나가리
data_fix의 포인트 순위가 높은거

In [138]:
data2=data_fix[data_fix['TITLE']==list(top1)[0]]

for i in list(top1)[1:]:

    data2=pd.concat([data2,data_fix[data_fix['TITLE']==i]])

data2= data2.sort_values(by='POINTS' ,ascending=False)

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [136]:
type(top1)

pandas.core.series.Series

In [137]:
type(data_fix['TITLE'])

pandas.core.series.Series

In [21]:
#2021 분기별 
def net(code,what):
    url=f"https://flixpatrol.com/preferences/netflix/overall/all/{code}/"
    response=requests.get(url)
    dom = BeautifulSoup(response.text, "html.parser")
    elements = dom.select(f"body > div:nth-child(3) > div > div:nth-child({what}) > div.card > table > tbody > tr")
    data = []
    for element in elements:
        data.append({
       
            "TITLE":element.select_one(".table-td:nth-child(2)").text.strip(),
            f"per {code}":element.select_one(".table-td:nth-child(3)").text.strip(),
    
    })
        
#     data=pd.DataFrame(data)
#     data['code']=code
    return pd.DataFrame(data)

In [22]:
# what : 1 : country  3: genre  5: company

genre=net(code="2021-1",what=3)

codes=['2021-2','2021-3','2021-4']
for c in codes:
    genre=pd.merge(genre,net(code=c,what=3),how='outer')


country=net(code="2021-1",what=1)
codes=['2021-2','2021-3','2021-4']
for c in codes:
    country=pd.merge(country,net(code=c,what=1))
    
company=net(code="2021-1",what=5)
codes=['2021-2','2021-3','2021-4']
for c in codes:
    company=pd.merge(company,net(code=c,what=5))

In [23]:
# 2021년 각 분기별 장르 비율 
genre

          TITLE per 2021-1 per 2021-2 per 2021-3 per 2021-4
0         Drama      21.8%      13.3%      24.1%      18.5%
1        Comedy      14.1%      11.3%      14.1%      14.1%
2         Crime      11.3%      17.1%       6.2%       9.7%
3        Sci-fi       8.7%       4.6%       2.6%       3.5%
4      Animated       7.1%      15.4%      11.8%      10.0%
5     Adventure       6.7%       3.2%       2.9%       1.3%
6      Thriller       6.0%       6.5%       7.5%       9.6%
7        Action       5.6%       6.3%      12.3%      13.1%
8       Fantasy       5.0%       4.1%       1.3%       2.5%
9   Documentary       4.3%       2.1%       3.4%       1.4%
10      Romance       2.8%       3.2%       1.7%       3.2%
11    Superhero       2.3%       7.1%       3.2%       4.4%
12       Horror       1.8%       3.1%       4.3%       3.2%
13      Western       1.0%       0.0%       0.4%       1.4%
14   Unscripted       0.8%       1.7%       2.3%       1.2%
15        Other       0.4%       0.7%       1.7%       1.8%
16          War       0.1%       0.1%       0.1%       1.2%
17       Family       0.0%       0.0%       0.0%       0.0%

In [24]:
# 각 분기별 대륙 비율
country

           TITLE per 2021-1 per 2021-2 per 2021-3 per 2021-4
0  North America      63.5%      57.3%      63.9%      60.6%
1         Europe      20.1%      19.7%      16.7%      14.1%
2           Asia       9.9%      12.4%      11.4%      16.9%
3  Latin America       4.6%       8.2%       5.6%       5.8%
4          Other       1.3%       1.1%       1.3%       1.3%
5         Africa       0.4%       1.0%       0.5%       1.0%
6        Oceania       0.3%       0.4%       0.6%       0.5%

In [25]:
#각 분기별 배급사 비율
company

                   TITLE per 2021-1 per 2021-2 per 2021-3 per 2021-4
0                Netflix      57.4%      53.4%      60.8%      65.4%
1     Universal Pictures       3.6%       5.7%       2.4%       2.1%
2  Warner Bros. Pictures       3.1%       1.9%       2.1%       2.3%
3          Sony Pictures       2.6%       2.0%       1.8%       4.4%
4       20th Century Fox       0.4%       0.6%       2.5%       1.2%
5              Lionsgate       0.3%       0.3%       0.4%       0.5%
6             Canal Plus       0.2%       0.1%       0.1%       0.1%
7                    MGM       0.0%       0.0%       1.3%       0.5%
8      STX Entertainment       0.0%       0.1%       0.0%       0.1%

어떤 분석을 할지
- 감독의 최고 흥행작
- 영화 top 20 중 가장 많이 차지한 나라
- 드라마 top 20 중 가장 많이 차지한 나라
-

#### EDA의 수행 절차
- 데이터 수집
- 결측 데이터의 처리
- 데이터 탐색
    - 수집한 데이터에서 자유롭게 주제를 선정하여 데이터 분석을 통한 인사이트 도출
    - 예시 : 인도영화는 다른 국가보다 러닝타임이 길것이다. 컨텐츠의 퀄리티가 가장 좋은 국가는?

#### 컨텐츠 타입과 컨텐츠 등급별 컨텐츠의 비율

In [ ]:
# 아래의 코드는 EDA의 예시를 보여주는 것으로 실제 코드가 동작되지 않습니다.

plt.figure(figsize=(20, 5))

plt.subplot(121)
plt.title("Movie")
plt.pie(movie_count.values, labels=movie_count.index, autopct="%1.1f%%")

plt.subplot(122)
plt.title("TV Show")
plt.pie(tv_count.values, labels=tv_count.index, autopct="%1.1f%%")

plt.show()

결론 : 영화가 TV쇼 보다 청소년 관람불가 등급의 비율이 더 높고 TV가 영화보다 청소년관람등급의 컨텐츠의 비율이 더 높습니다.